.card 
  .card-header
    = link_to comment.user, comment.user
  .card-body
    = comment.content
    = comment.created_at
= link_to 'Back', course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-primary'
